In [4]:
n=[10,20,30,40,50,40,30,20,30]
print(len(n))

print(n.count(30))   ## returns the count/occurrence

print(n.index(40))    ##retuturns 1st occurence of the index value

9
3
3

In [9]:
##Manupulating the elements of list
#1 Append
print(n. append(55))
print(n)

l1=[]
for i in range(0,10):
    l1.append(i)
print(l1)

## Add element to the list  div by 5 
l2=[]
for i in range(101):
    if i%5==0:
        l2.append(i)
print(l2)

None
[10, 20, 30, 40, 50, 40, 30, 20, 30, 55, 55, 55, 55]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [10]:
##2 Indsert === it inserts the element at specified index position
lst=['q','w','p','q','r','s','t']
lst.insert(0,"Santosh")        ## element will push the current element to forward index position
print(lst)

lst.insert(10,"Ten")        ## specified index more than the max index then inserted at the last 
print(lst)

['Santosh', 'q', 'w', 'p', 'q', 'r', 's', 't']
['Santosh', 'q', 'w', 'p', 'q', 'r', 's', 't', 'Ten']

In [23]:
##3 Extend   To add itms of one list to another list
l1=['pen','pencil','rubber','sharpner']
l2=['bottle','bag','goggle']
l1.extend(l2)
print(l1)

l1.extend("bicycle")
print(l1)

l3=[33,23,53,63]
l4=[333,444,555]
l3.extend(l4)
print(l3)

l5=[666,777]
l3.append(l5)
print(l3)

tuple=(99,88)
l3.extend(tuple)
print(l3)
l3.append(tuple)
print(l3)

['pen', 'pencil', 'rubber', 'sharpner', 'bottle', 'bag', 'goggle']
['pen', 'pencil', 'rubber', 'sharpner', 'bottle', 'bag', 'goggle', 'b', 'i', 'c', 'y', 'c', 'l', 'e']
[33, 23, 53, 63, 333, 444, 555]
[33, 23, 53, 63, 333, 444, 555, [666, 777]]
[33, 23, 53, 63, 333, 444, 555, [666, 777], 99, 88]
[33, 23, 53, 63, 333, 444, 555, [666, 777], 99, 88, (99, 88)]

In [24]:
##4 remove  == used to remove the specified item from the list
l3.remove(99)
print(l3)      ## if element present multiple times then first occurence will be removed

# l3.remove(1000) ## if specified item not in list it will give value error

[33, 23, 53, 63, 333, 444, 555, [666, 777], 88, (99, 88)]

In [27]:
# POP ==removes and returns the last element of the list
#This is only function manupulate the list and returns some element

lst=['q','w','p','q','r','s','t']
print(lst.pop())

lst1=['pen', 'pencil', 'rubber', 'sharpner', 'bottle', 'bag', 'goggle']
print(lst1.pop())         

lst2=[]
print(lst2.pop()) ## If list is empty then index error

t
goggle

IndexError: pop from empty list

In [32]:
# Ordering elements of list

#1 Reverse the order of list
lst1=['pen', 'pencil', 'rubber', 'sharpner', 'bottle', 'bag', 'goggle']

lst1.reverse()
print(lst1)


##2 SORT fun== for homogeneous elemets only(otherwise it willgives type Error)
lst1.sort()
print(lst1)

lst=['q','w','p','q','r','s','t',1,2,4]
lst.sort()
print(lst)

['goggle', 'bag', 'bottle', 'sharpner', 'rubber', 'pencil', 'pen']
['bag', 'bottle', 'goggle', 'pen', 'pencil', 'rubber', 'sharpner']

TypeError: '<' not supported between instances of 'int' and 'str'

In [37]:
# aliasing
x=[10,20,30,40]
y=x
print(id(x))
print(id(y))


y[1]=555   # If one operator changed then it affects other ref var also??
print(x)
print(y)

# CLOANING
# To overcome this issse go for cloaning== Process of creating exactly duplicate and independant obj
##1 by using slice op

y=x[:]
y[3]=888
print(y)
print(x)

##2  By using copy function
lst1=['q','w','p','q','r','s','t',1,2,4]
lst2=lst1
lst2[5]=444       ## changes will be reflected in lst1 also  affects lst1
print(lst1,lst2)

# by using copy()
lst2=lst1.copy()
lst2[4]=333
print(lst1,lst2)  ## changes wont be reflected in lst1

2529914917696
2529914917696
[10, 555, 30, 40]
[10, 555, 30, 40]
[10, 555, 30, 888]
[10, 555, 30, 40]
['q', 'w', 'p', 'q', 'r', 444, 't', 1, 2, 4] ['q', 'w', 'p', 'q', 'r', 444, 't', 1, 2, 4]
['q', 'w', 'p', 'q', 'r', 444, 't', 1, 2, 4] ['q', 'w', 'p', 'q', 333, 444, 't', 1, 2, 4]

In [43]:
## concatenation operator
a=[10,20,30,40]
b=[50,60,70,80]
c=a+b
print(c)

# a=[10,20,30,40]
# b=[50,60,70,80]
# a.extend(b)
# print(a)

a=[10,20,30,40,'q','o','d']
b=[50,60,70,80]
c=a+b
print(c)

##both arguments should be list otherwise shows TypeError
a=[10,20,30,40,'q','o','d']
c=a+[444]
print(c)

d=a+444
print(d)  ## eill get TYPE ERROR can only concatenate list (not "int") to list

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 'q', 'o', 'd', 50, 60, 70, 80]
[10, 20, 30, 40, 'q', 'o', 'd', 444]

TypeError: can only concatenate list (not "int") to list

In [45]:
##2 REPETITION OP == To repeat the elements of list specified no of times

l=[10, 20, 30, 40, 50, 60, 70, 80]
print(l*5)
print(l*5)

l=[10, 20, 30, 40, 50, 60, 70, 80,'q','w','d']
print(l*5)

[10, 20, 30, 40, 50, 60, 70, 80, 10, 20, 30, 40, 50, 60, 70, 80, 10, 20, 30, 40, 50, 60, 70, 80, 10, 20, 30, 40, 50, 60, 70, 80, 10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80, 'q', 'w', 'd', 10, 20, 30, 40, 50, 60, 70, 80, 'q', 'w', 'd', 10, 20, 30, 40, 50, 60, 70, 80, 'q', 'w', 'd', 10, 20, 30, 40, 50, 60, 70, 80, 'q', 'w', 'd', 10, 20, 30, 40, 50, 60, 70, 80, 'q', 'w', 'd']

In [46]:
## CLEAR
l.clear()
print(l)

[]